@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f2f3ef;
    --foreground: #2d2d2d;

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: rgb(80, 80, 80);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 47.4% 11.2%);

    --border: rgba(0,0,0,0.1);
    --input: hsl(214.3 31.8% 91.4%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 47.4% 11.2%);

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);

    --accent: hsl(210 40% 96.1%);
    --accent-foreground: rgb(199, 112, 69);

    --destructive: hsl(0 100% 50%);
    --destructive-foreground: hsl(210 40% 98%);

    --ring: hsl(215 20.2% 65.1%);

    --radius: 0.5rem;
  }

  code {
    @apply bg-slate-100 rounded-sm p-0.5 text-accent-foreground border;
  }

  h2 {
    @apply text-xl font-bold;
  }

  ul {
    @apply list-disc list-inside;
  }

  .document a {
    @apply text-accent-foreground underline-offset-4 hover:underline
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
